<div class="container">
  <h1 class="h3 mb-3 fw-normal">Generate Token</h1>

  <div class="row">
    <%= render 'layouts/errors', errors: @user.errors %>
  </div>

  <div class="row">
    <%= form_with model: @user, url: registrations_path, method: :post, local: true do |form| %>
      <div class="mb-3">
        <%= form.label :email, class: 'form-label' %>
        <%= form.text_field :email, class: 'form-control' %>
      </div>

      <%= submit_tag :generate, class: 'w-100 btn btn-lg btn-primary' %>
      <%= link_to 'back', root_path, class: 'w-100 btn btn-lg btn-warning' %>
    <% end %>
  </div>
</div>
