<p><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Date</th>
      <th>Company</th>
      <th>Billing for</th>
      <th>Total</th>
      <th>Emails</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.number %></td>
        <td><%= invoice.date %></td>
        <td><%= invoice.company %></td>
        <td><%= invoice.billing_for %></td>
        <td><%= invoice.total %></td>
        <td><%= invoice.emails %></td>
        <td><%= link_to 'Show', internal_invoice_path(invoice) %></td>
        <td><%= link_to 'Edit', edit_internal_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', internal_invoice_path(invoice), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_internal_invoice_path %>
