<!DOCTYPE html>
<html>
  <head>
    <title>InvoiceManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
  <%= link_to 'Logout', sessions_path, method: :delete if signed_in? %>

  <%= flash[:alert] %>
  <%= flash[:notice] %>

    <%= yield %>

  <%= javascript_include_tag "application" %>
  </body>
</html>
